@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    display: grid;
    place-items: center;
}
.main{
    background: hsl(30, 38%, 92%);
    height: 600px;
    width: 800px;
    margin-top:70px ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    place-items: center;
    
}

.child1{
    height: 360px;
    width: 300px;
    background: rgba(255, 255, 255, 0.66);
    padding: 20px 25px;
    position: relative;
    transition: transform 0.3s ease;  
    
}
.child1 h1{
    margin-bottom: 20px;
    font-size: 15px;
    color:hsla(0, 11%, 61%, 0.578);
    font-family: "Montserrat", sans-serif;
}
.child1 h2{
    color: rgba(0, 0, 0, 0.805);
    margin-bottom: 20px;
}
.child1 p{
    color: rgba(0, 0, 0, 0.526);
    margin-bottom: 20px;
}
 .sold p{
   color: hsl(158, 36%, 37%);
   font-weight: bold;
   font-size: 25px;
   display: flex;
   gap: 1.9rem;
}
.sold p span{
    text-decoration: line-through;
    font-size: 13px;
    color: rgba(14, 14, 13, 0.546);
    padding-top: 7px;
}
.child2{
    overflow: hidden;
}
.child2 img{
    height: 360px;
    width: 300px;
    transition: transform 0.3s ease;
    position: relative;
}
.child1 button{
  background:hsl(158, 36%, 37%);
  padding: 9px 4px;
  border-radius: 3px;
  border: 0px;
  width: 200px;
  color: azure;
  font-family:"Montserrat", sans-serif;
  transition: 0.3s;
 
}
.child1 button:hover{
    background: hsl(228, 12%, 48%);
    transform: scale(1.1);

}
.child2 img:hover{
    transform: scale(1.2);
}